.dalle-2023-11-11-203316-a2 {
  position: absolute;
  top: 26px;
  left: calc(50% - 449px);
  width: 898px;
  height: 898px;
  object-fit: cover;
}
.div10,
.div11 {
  position: absolute;
}
.div10 {
  top: 152px;
  left: 99px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.div11 {
  top: calc(50% - 376.89px);
  left: calc(50% - 166.48px);
}
.div12,
.div13,
.path-2-icon {
  position: absolute;
  top: 152px;
  left: 73px;
}
.div13,
.path-2-icon {
  left: 89px;
}
.path-2-icon {
  top: 73.5px;
  left: 237.8px;
  width: 123.51px;
  height: 142.31px;
  object-fit: cover;
}
.div14 {
  position: absolute;
  top: 114px;
  left: calc(50% - 363px);
  font-size: var(--font-size-71xl);
  letter-spacing: 81px;
  display: inline-block;
  width: 57px;
}
.component-2-1-child {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-firebrick);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--br-54xl);
  box-sizing: border-box;
  width: 402px;
  height: 395px;
}
.choose2 {
  top: 0;
  left: 20px;
}
.choose2,
.mood2,
.your2 {
  margin: 0;
  position: absolute;
  font-size: var(--font-size-71xl);
  letter-spacing: 81px;
  font-weight: 400;
  font-family: inherit;
}
.your2 {
  top: calc(50% - 246.78px);
  left: calc(50% - 161.5px);
}
.mood2 {
  top: calc(50% - 22.63px);
  right: 20px;
}
.component-2-1-item {
  background-color: var(--color-black);
  top: calc(50% + 281.61px);
  right: 113px;
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.button4,
.component-2-1-item,
.component-6-1-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.button4 {
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-54xl);
  background-image: url(/public/18038192-59360731@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.component-6-1-child {
  background-color: var(--color-black);
  top: calc(50% - 34.5px);
  left: calc(50% - 88px);
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.trippy2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 74px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-6-1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 419.5px);
  width: 402px;
  height: 395px;
}
.component-3-1-child,
.component-3-1-item {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.component-3-1-child {
  border: 1px solid var(--color-black);
  background-color: var(--color-brown);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-54xl);
  box-sizing: border-box;
}
.component-3-1-item {
  border: 0;
  background-color: var(--color-black);
  top: calc(50% - 34.5px);
  left: calc(50% - 87px);
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.dark2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 60px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-3-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 402px;
  height: 395px;
}
.hard2 {
  margin: 0;
  position: absolute;
  top: calc(50% + 287.61px);
  right: 140px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-4-1-inner {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-khaki);
  border-radius: var(--br-54xl);
  box-sizing: border-box;
}
.component-4-1-inner,
.component-4-12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.chill2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 61px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-5-1 {
  position: absolute;
  bottom: 0;
  left: calc(50% + 17.5px);
  width: 402px;
  height: 395px;
}
.component-2-1 {
  position: absolute;
  width: calc(100% - 207px);
  top: calc(50% - 461.22px);
  right: 103px;
  left: 104px;
  height: 1027.22px;
  font-size: var(--font-size-31xl);
}
.webpc {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3240px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-book);
}
