.dalle20231111203316A {
  position: absolute;
  top: 26px;
  left: calc(50% - 449px);
  width: 898px;
  height: 898px;
  object-fit: cover;
}
.div,
.div1 {
  position: absolute;
}
.div {
  top: 152px;
  left: 99px;
  font-size: 20px;
  color: var(--color-dimgray);
}
.div1 {
  top: calc(50% - 376.89px);
  left: calc(50% - 166.48px);
}
.div2,
.div3,
.path2Icon {
  position: absolute;
  top: 152px;
  left: 73px;
}
.div3,
.path2Icon {
  left: 89px;
  font-size: var(--font-size-11xl);
}
.welcome {
  margin: 0;
  top: 489px;
  left: -353px;
  font-size: inherit;
  letter-spacing: 81px;
  font-weight: 400;
  font-family: inherit;
  transform: rotate(270deg);
}
.lineDiv,
.web19201Child1 {
  position: absolute;
  top: 72.5px;
  left: 236.8px;
  box-sizing: border-box;
}
.lineDiv {
  border-right: 2px solid var(--color-dimgray);
  width: 4px;
  height: 143px;
}
.web19201Child1 {
  border-top: 2px solid var(--color-dimgray);
  width: 124px;
  height: 4px;
}
.web19201Child2,
.web19201Child3,
.web19201Child4 {
  position: absolute;
  top: 73.5px;
  left: 237.8px;
  width: 123.51px;
  height: 142.31px;
  object-fit: cover;
}
.div4 {
  position: absolute;
  top: 114px;
  left: calc(50% - 363px);
  font-size: var(--font-size-71xl);
  letter-spacing: 81px;
  display: inline-block;
  width: 57px;
}
.about,
.merch {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 85px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-franklin-gothic-book);
  color: var(--color-dimgray);
  text-align: left;
  opacity: 0;
}
.about {
  right: 212px;
}
.about.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.about:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.merch {
  left: calc(50% + 562px);
}
.merch.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.merch:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.choose {
  top: calc(50% - 461.22px);
  left: 124px;
}
.choose,
.mood,
.your {
  margin: 0;
  position: absolute;
  font-size: inherit;
  letter-spacing: 81px;
  font-weight: 400;
  font-family: inherit;
}
.your {
  top: calc(50% - 194.39px);
  left: calc(50% - 161px);
}
.mood {
  top: calc(50% + 29.76px);
  right: 123px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  position: absolute;
  top: calc(50% + 334px);
  left: 218px;
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.web19201Child7 {
  left: calc(50% - 306px);
}
.web19201Child7,
.web19201Child8,
.web19201Child9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  position: absolute;
  top: calc(50% + 334px);
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.web19201Child8 {
  left: calc(50% + 132px);
}
.web19201Child9 {
  right: 216px;
}
.trippy {
  margin: 0;
  position: absolute;
  top: calc(50% + 340px);
  left: calc(50% - 292px);
  font-size: var(--font-size-31xl);
  font-weight: 400;
  font-family: inherit;
}
.dark {
  left: 245px;
}
.chill,
.dark,
.hard {
  margin: 0;
  position: absolute;
  top: calc(50% + 340px);
  font-size: var(--font-size-31xl);
  font-weight: 400;
  font-family: inherit;
}
.hard {
  right: 243px;
}
.chill {
  left: calc(50% + 158px);
}
.web19201 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3240px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-book);
}
