.dalle-2023-11-11-203316-a2 {
  position: absolute;
  top: 26px;
  left: 511px;
  width: 898px;
  height: 898px;
  object-fit: cover;
}
.div108,
.div109 {
  position: absolute;
}
.div108 {
  top: 152px;
  left: 99px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.div109 {
  top: 1243.11px;
  left: 793.52px;
}
.div110,
.div111,
.div112 {
  position: absolute;
  top: 152px;
  left: 73px;
}
.div111,
.div112 {
  left: 89px;
}
.div112 {
  top: 114px;
  left: 597px;
  font-size: var(--font-size-71xl);
  letter-spacing: 81px;
  display: inline-block;
  width: 57px;
}
.choose6,
.mood2,
.your6 {
  position: relative;
  font-size: inherit;
  letter-spacing: 81px;
  font-weight: 400;
  font-family: inherit;
  margin: 0 757px 0 0;
}
.mood2,
.your6 {
  margin: 0 458px 0 0;
}
.mood2 {
  margin: -43px 21px 0 0;
}
.group-child,
.group-item {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.group-child {
  border: 1px solid var(--color-black);
  background-color: #bf0000;
  right: 0;
  bottom: 0;
  border-radius: var(--br-54xl);
  box-sizing: border-box;
  width: 402px;
  height: 395px;
}
.group-item {
  border: 0;
  background-color: var(--color-black);
  top: calc(50% - 34.5px);
  right: 113px;
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-54xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-6-1-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  position: absolute;
  top: calc(50% - 34.5px);
  left: calc(50% - 88px);
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.trippy2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 74px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-6-1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 419.5px);
  width: 402px;
  height: 395px;
}
.component-3-1-child,
.component-3-1-item {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.component-3-1-child {
  border: 1px solid var(--color-black);
  background-color: #6c132b;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-54xl);
  box-sizing: border-box;
}
.component-3-1-item {
  border: 0;
  background-color: var(--color-black);
  top: calc(50% - 34.5px);
  left: calc(50% - 87px);
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.dark2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 60px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-3-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 402px;
  height: 395px;
}
.hard2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  right: 140px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-4-1-child {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: #d1d14d;
  border-radius: var(--br-54xl);
  box-sizing: border-box;
}
.component-4-1,
.component-4-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.chill2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 61px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.component-5-1 {
  position: absolute;
  bottom: 0;
  left: calc(50% + 17.5px);
  width: 402px;
  height: 395px;
}
.rectangle-parent {
  position: relative;
  width: 1713px;
  height: 395px;
  margin-top: -126px;
  font-size: var(--font-size-31xl);
}
.component-2-1 {
  position: absolute;
  top: 1158.78px;
  left: 104px;
  width: 1713px;
  height: 1027.22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 165px;
  font-size: var(--font-size-71xl);
}
.component-13-12 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 106px;
  height: 1079px;
  object-fit: cover;
}
.dalle-2023-11-12-165108-a2 {
  position: absolute;
  bottom: 0;
  left: 402px;
  width: 1024px;
  height: 1024px;
  object-fit: cover;
}
.webpc-child,
.webpc-item {
  position: absolute;
  top: 83px;
  left: 233px;
  width: 123px;
  height: 142px;
  object-fit: cover;
}
.webpc-item {
  top: 984px;
  left: 551px;
  width: 819px;
  height: 59px;
}
.webpc {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3240px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-book);
}
