.dalle-2023-11-11-203316-a {
  position: absolute;
  top: 197px;
  left: -32px;
  width: 450px;
  height: 451px;
  object-fit: cover;
}
.div {
  position: absolute;
  top: 152px;
  left: 99px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.div1,
.div2,
.div3,
.div4 {
  position: absolute;
  top: 647.65px;
  left: 161.18px;
  font-size: var(--font-size-11xl);
}
.div2,
.div3,
.div4 {
  top: 152px;
  left: 73px;
}
.div3,
.div4 {
  left: 89px;
}
.div4 {
  top: 517.33px;
  left: 144.37px;
  font-size: var(--font-size-71xl);
}
.e44faa87780c097ca3cde4206add46-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.e44faa87780c097ca3cde4206add46 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 74px;
  right: 20px;
  width: 37.5px;
  height: 40px;
}
.component-13-1 {
  position: absolute;
  top: 94px;
  left: 6px;
  width: 67px;
  height: 679px;
  object-fit: cover;
}
.choose {
  top: 0;
  left: 0;
}
.choose,
.mood,
.your {
  margin: 0;
  position: absolute;
  font-size: inherit;
  letter-spacing: 19.2px;
  font-weight: 400;
  font-family: inherit;
}
.your {
  top: calc(50% - 13.5px);
  left: calc(50% - 66.5px);
}
.mood {
  bottom: 0;
  left: calc(50% - 72.5px);
}
.choose-parent {
  position: absolute;
  top: 871px;
  left: 90px;
  width: 211px;
  height: 165px;
}
.div5 {
  position: absolute;
  top: 1067px;
  right: 72px;
  letter-spacing: 28.8px;
}
.component-16-1-child,
.component-16-1-item,
.path-9 {
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 110px;
  height: 95px;
}
.component-16-1-child {
  border: 1px solid var(--color-dimgray);
  background-color: var(--color-black);
  left: 0;
  border-radius: var(--br-4xl);
}
.component-16-1-item,
.path-9 {
  border: 1px solid var(--color-black);
}
.path-9 {
  background-color: var(--color-darkslateblue);
  left: calc(50% - 55px);
}
.component-16-1-item {
  background-color: transparent;
  right: 0;
  border-radius: var(--br-4xl);
  background: linear-gradient(
    180deg,
    #7c9540,
    #8b2020 33.88%,
    #261b45 61.92%,
    #0f1304
  );
}
.component-16-1-inner {
  border: 1px solid var(--color-black);
  background-color: var(--color-maroon);
  top: calc(50% - 105px);
  left: 0;
}
.component-16-1-child1,
.component-16-1-child2,
.component-16-1-child3,
.component-16-1-child4,
.component-16-1-inner,
.rectangle-button {
  cursor: pointer;
  padding: 0;
  position: absolute;
  border-radius: var(--br-4xl);
  box-sizing: border-box;
  width: 110px;
  height: 95px;
}
.rectangle-button {
  border: 1px solid var(--color-black);
  background-color: transparent;
  top: calc(50% - 105px);
  left: calc(50% - 55px);
  background: radial-gradient(50% 50%at 50% 50%, #000, #f8ff7d 35.15%, #565725);
}
.component-16-1-child1,
.component-16-1-child2,
.component-16-1-child3,
.component-16-1-child4 {
  border: 1px solid var(--color-dimgray);
}
.component-16-1-child1 {
  background-color: var(--color-green);
  top: calc(50% - 105px);
  right: 0;
}
.component-16-1-child2,
.component-16-1-child3,
.component-16-1-child4 {
  top: calc(50% + 10px);
}
.component-16-1-child2 {
  background-color: var(--color-lightskyblue);
  left: 0;
}
.component-16-1-child3,
.component-16-1-child4 {
  background-color: transparent;
}
.component-16-1-child3 {
  left: calc(50% - 55px);
  background: conic-gradient(
    from 221.71deg at 50% 50%,
    #c54ac5 0deg,
    #271727 52.05deg,
    #5e235e 360deg
  );
}
.component-16-1-child4 {
  right: 0;
  background: linear-gradient(180deg, #301a1a, gray);
}
.component-16-1-child5 {
  background-color: var(--color-darkorchid);
  left: 0;
}
.component-16-1-child5,
.component-16-1-child6,
.component-16-1-child7 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray);
  padding: 0;
  position: absolute;
  bottom: 0;
  border-radius: var(--br-4xl);
  box-sizing: border-box;
  width: 110px;
  height: 95px;
}
.component-16-1-child6 {
  background-color: transparent;
  left: calc(50% - 55px);
  background: linear-gradient(
    139.1deg,
    #fff,
    #296147 17.58%,
    #584ee5 31.39%,
    #b8dee1 37.24%,
    #974a4a 47.28%,
    #a9b5af 58.16%,
    #293d11 68.61%,
    #c8aa84 79.08%,
    #ae3f3f
  );
}
.component-16-1-child7 {
  background-color: var(--color-yellowgreen);
  right: 0;
}
.dark {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 17.5px);
}
.dark-wrapper {
  position: absolute;
  top: 33px;
  left: 21px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 69px;
  height: 28px;
}
.moody {
  position: absolute;
  top: calc(50% - 8px);
  left: 8px;
}
.path-8-parent {
  position: absolute;
  top: 33px;
  left: calc(50% - 30px);
  width: 61px;
  height: 28px;
  color: var(--color-black);
}
.trippy {
  position: absolute;
  top: calc(50% - 8px);
  right: 7px;
}
.path-7-parent {
  position: absolute;
  top: 33px;
  right: 23px;
  width: 63px;
  height: 28px;
}
.hard {
  position: absolute;
  top: calc(50% - 8px);
  right: 6px;
}
.hard-wrapper {
  position: absolute;
  top: calc(50% - 72px);
  left: 28px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 52px;
  height: 28px;
  color: var(--color-black);
}
.melodic {
  position: absolute;
  top: calc(50% - 8px);
  left: 4px;
}
.melodic-wrapper {
  position: absolute;
  top: calc(50% - 72px);
  left: calc(50% - 33px);
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 67px;
  height: 28px;
}
.energy {
  position: absolute;
  top: calc(50% - 8px);
  left: 7.51px;
}
.path-6-parent {
  position: absolute;
  top: calc(50% - 72px);
  right: 20.24px;
  width: 67.51px;
  height: 28px;
  color: var(--color-black);
}
.chill-wrapper {
  left: 28px;
  background-color: var(--color-white);
  color: var(--color-black);
}
.atmos-wrapper,
.chill-wrapper,
.gritty-wrapper {
  position: absolute;
  top: calc(50% + 43px);
  border-radius: var(--br-sm);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 52px;
  height: 28px;
}
.atmos-wrapper {
  left: calc(50% - 26px);
  background-color: var(--color-black);
}
.gritty-wrapper {
  right: 28px;
  background-color: var(--color-white);
  color: var(--color-black);
}
.dreamy {
  position: absolute;
  top: calc(50% - 8px);
  left: 6px;
}
.dreamy-wrapper {
  position: absolute;
  bottom: 34px;
  left: 24px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 66px;
  height: 28px;
}
.hypno {
  position: absolute;
  top: calc(50% - 8px);
  left: 5px;
}
.happy-wrapper,
.hypno-wrapper {
  position: absolute;
  bottom: 34px;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 52px;
  height: 28px;
}
.hypno-wrapper {
  left: calc(50% - 26px);
  background-color: var(--color-white);
  color: var(--color-black);
}
.happy-wrapper {
  right: 28px;
  background-color: var(--color-black);
}
.component-16-1 {
  position: absolute;
  top: 1067px;
  left: 14px;
  width: 358px;
  height: 440px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.dalle-2023-11-12-165108-a {
  position: absolute;
  top: 1688px;
  left: 40px;
  width: 311px;
  height: 311px;
  object-fit: cover;
}
.tags,
.your1 {
  margin: 0;
  position: absolute;
  font-size: inherit;
  letter-spacing: 19.2px;
  font-weight: 400;
  font-family: inherit;
}
.your1 {
  top: calc(50% - 18px);
  left: calc(50% - 66.5px);
}
.tags {
  bottom: 0;
  left: 12px;
}
.choose-group {
  position: absolute;
  top: 2009px;
  left: 90px;
  width: 211px;
  height: 158px;
}
.acoustic {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.div6 {
  left: 0;
}
.div6,
.div7,
.div8 {
  position: absolute;
  top: 0;
  width: 92px;
  height: 21px;
}
.div7 {
  left: calc(50% - 48.5px);
}
.div8 {
  right: 5px;
}
.div9 {
  left: 0;
}
.div10,
.div11,
.div9 {
  position: absolute;
  top: 41px;
  width: 92px;
  height: 21px;
}
.div10 {
  left: calc(50% - 48.5px);
}
.div11 {
  right: 5px;
}
.div12 {
  left: 0;
}
.div12,
.div13,
.div14 {
  position: absolute;
  top: calc(50% - 76px);
  width: 92px;
  height: 21px;
}
.div13 {
  left: calc(50% - 48.5px);
}
.div14 {
  right: 5px;
}
.div15 {
  left: 0;
}
.div15,
.div16,
.div17 {
  position: absolute;
  top: calc(50% - 35px);
  width: 92px;
  height: 21px;
}
.div16 {
  left: calc(50% - 48.5px);
}
.div17 {
  right: 5px;
}
.div18 {
  left: 0;
}
.div18,
.div19,
.div20 {
  position: absolute;
  top: calc(50% + 6px);
  width: 92px;
  height: 21px;
}
.div19 {
  left: calc(50% - 48.5px);
}
.div20 {
  right: 5px;
}
.div21 {
  left: 0;
}
.div21,
.div22,
.div23 {
  position: absolute;
  top: calc(50% + 47px);
  width: 92px;
  height: 21px;
}
.div22 {
  left: calc(50% - 48.5px);
}
.div23 {
  right: 5px;
}
.div24 {
  left: 0;
}
.div24,
.div25,
.div26 {
  position: absolute;
  top: calc(50% + 88px);
  width: 92px;
  height: 21px;
}
.div25 {
  left: calc(50% - 48.5px);
}
.div26 {
  right: 5px;
}
.div27 {
  left: 0;
}
.div27,
.div28,
.div29 {
  position: absolute;
  bottom: 8px;
  width: 92px;
  height: 21px;
}
.div28 {
  left: calc(50% - 48.5px);
}
.div29 {
  right: 5px;
}
.repeat-grid-1,
.repeat-grid-2 {
  position: absolute;
  left: 35px;
  width: 321px;
  height: 316px;
  font-size: var(--font-size-lgi);
}
.repeat-grid-1 {
  top: 2200px;
}
.repeat-grid-2 {
  bottom: 205px;
}
.choose-container {
  position: absolute;
  top: 2615px;
  left: 90px;
  width: 211px;
  height: 158px;
}
.optional {
  position: absolute;
  bottom: 572px;
  left: 149px;
  font-size: var(--font-size-lgi);
}
.lets-go {
  position: absolute;
  bottom: 100px;
  left: 53px;
  letter-spacing: 19.2px;
  font-style: italic;
}
.webmobile-child,
.webmobile-item {
  position: absolute;
  object-fit: cover;
}
.webmobile-child {
  top: 12px;
  left: 7px;
  width: 54px;
  height: 62px;
}
.webmobile-item {
  bottom: 22px;
  left: 173px;
  width: 45px;
  height: 56px;
}
.polygon-icon,
.webmobile-child1,
.webmobile-inner {
  position: absolute;
  top: 2546px;
  left: 159px;
  width: 72px;
  height: 26px;
  object-fit: cover;
}
.polygon-icon,
.webmobile-child1 {
  top: 1606px;
}
.webmobile-child1 {
  top: 806px;
}
.webmobile {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3376px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-book);
}
