.groupChild {
  border: 1px solid var(--color-black);
  background-color: var(--color-brown);
  left: 0;
  box-sizing: border-box;
}
.button,
.groupChild,
.groupInner,
.groupItem {
  cursor: pointer;
  padding: 0;
  position: absolute;
  bottom: 0;
  border-radius: var(--br-54xl);
  width: 402px;
  height: 395px;
}
.button {
  border: 0;
  background-color: transparent;
  left: calc(50% - 419.5px);
  background-image: url(/public/18038192-5936073@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.groupInner,
.groupItem {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.groupItem {
  background-color: var(--color-firebrick);
  right: 0;
}
.groupInner {
  background-color: var(--color-khaki);
  left: calc(50% + 17.5px);
}
.choose {
  top: 0;
  left: 20px;
}
.choose,
.mood,
.your {
  margin: 0;
  position: absolute;
  font-size: var(--font-size-71xl);
  letter-spacing: 81px;
  font-weight: 400;
  font-family: inherit;
}
.your {
  top: calc(50% - 246.78px);
  left: calc(50% - 161.5px);
}
.mood {
  top: calc(50% - 22.63px);
  right: 20px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  position: absolute;
  top: calc(50% + 281.61px);
  left: 114px;
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.groupChild1 {
  left: calc(50% - 306.5px);
}
.groupChild1,
.groupChild2,
.groupChild3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  position: absolute;
  top: calc(50% + 281.61px);
  border-radius: var(--br-16xl);
  width: 175px;
  height: 70px;
}
.groupChild2 {
  left: calc(50% + 131.5px);
}
.groupChild3 {
  right: 113px;
}
.trippy {
  margin: 0;
  position: absolute;
  top: calc(50% + 287.61px);
  left: calc(50% - 292.5px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.dark {
  left: 141px;
}
.chill,
.dark,
.hard {
  margin: 0;
  position: absolute;
  top: calc(50% + 287.61px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.hard {
  right: 140px;
}
.chill {
  left: calc(50% + 157.5px);
}
.rectangleParent {
  position: absolute;
  width: calc(100% - 207px);
  top: calc(50% - 461.22px);
  right: 103px;
  left: 104px;
  height: 1027.22px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-book);
}
