@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.home1 {
  top: 2px;
  left: 0;
}
.home1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.home1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about1,
.home1,
.login1,
.merch1,
.music1,
.qa1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  font-size: var(--font-size-11xl);
  font-family: var(--font-franklin-gothic-book);
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  opacity: 0;
}
.music1 {
  top: 2px;
  left: calc(50% - 186px);
}
.music1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.music1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about1,
.login1,
.merch1,
.qa1 {
  top: 0;
}
.login1 {
  right: -1px;
}
.login1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.login1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about1,
.merch1,
.qa1 {
  left: calc(50% + 138px);
}
.qa1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.qa1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about1,
.merch1 {
  top: 2px;
  left: calc(50% + 33px);
}
.about1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.about1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.merch1 {
  left: calc(50% - 79px);
  opacity: 1;
}
.merch1.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.merch1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.home-parent {
  position: absolute;
  top: 83px;
  right: 26px;
  width: 586px;
  height: 36px;
}
@media screen and (max-width: 1200px) {
  .merch1 {
    opacity: 1;
  }
  .merch1.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
}
