@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.home2 {
  top: 2px;
  left: 0;
}
.home2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.home2:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about2,
.home2,
.login2,
.merch2,
.music2,
.qa2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  font-size: var(--font-size-11xl);
  font-family: var(--font-franklin-gothic-book);
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  opacity: 0;
}
.music2 {
  top: 2px;
  left: calc(50% - 186px);
}
.music2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.music2:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about2,
.login2,
.merch2,
.qa2 {
  top: 0;
}
.login2 {
  right: -1px;
}
.login2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.login2:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about2,
.merch2,
.qa2 {
  left: calc(50% + 138px);
}
.qa2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.qa2:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.about2,
.merch2 {
  top: 2px;
  left: calc(50% + 33px);
}
.about2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.about2:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.merch2 {
  left: calc(50% - 79px);
  opacity: 1;
}
.merch2.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.merch2:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.home-group {
  position: absolute;
  top: 83px;
  right: 26px;
  width: 586px;
  height: 36px;
}
@media screen and (max-width: 1200px) {
  .merch2 {
    opacity: 1;
  }
  .merch2.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
}
