.groupChild {
  position: absolute;
  height: calc(100% + 0.01px);
  top: -0.5px;
  right: -0.5px;
  bottom: 0.49px;
  max-height: 100%;
  width: 8px;
}
.welcome {
  margin: 0;
  position: absolute;
  top: 489px;
  left: -391px;
  font-size: inherit;
  letter-spacing: 81px;
  font-weight: 400;
  font-family: inherit;
  transform: rotate(270deg);
}
.lineParent {
  position: absolute;
  top: 0;
  left: 38px;
  width: 120.5px;
  height: 1132px;
  text-align: left;
  font-size: var(--font-size-71xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-book);
}
